.box {
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #CFD8DB;
  text-align: center;
  width: relative;
  height: relative;
  padding: 35px;
  margin: 5px;
}
