.circle {
    width: 20px;
    height: 20px;
    background-color: blue;
    display: inline-block;
    margin: -2px;
    font-size: 20px;
    border-radius: 100%;
    position: absolute;

}
body {
    background-color: #fd8180;
}

p {
  font-family: "Philosopher", sans serif;
  text-align: center;
  color: white;
  font-size: 7vh;
  vertical-align: center;
}

a {
  text-decoration: none;
}

.one {
  padding-top: -10px;
}

.text {
  border: 2px solid white;
}
