<!DOCTYPE html>
<html>
<head>
  <title>Layouts</title>
  <link href="styles.css" rel="stylesheet" type="text/css">
</head>
     <body>
         <hr/>
         <p class="special">Layouts Exercise</p>
         <hr/>

         <br/>
         <p>
                 <a href="index.html" style="text-decoration:none" class="hover">Layout 1</a>
                 <br></br>
                 <a href="layout2.html" style="text-decoration:none" class="hover">Layout 2</a>
                 <br></br>
                 <a href="layout3.html" style="text-decoration:none" class="hover">Layout 3</a>
                 <br></br>
                 <a href="layout4.html" style="text-decoration:none" class="hover">Layout 4</a>
                 <br></br>
                 <a href="layout5.html" style="text-decoration:none" class="hover">Layout 5</a>
                 <br></br>
                 <a href="layout6.html" style="text-decoration:none" class="hover">Layout 6</a>

          </p>
 </html>
