.special {
    font-size: 20;
    font-weight: bold;
    font-family: Avenir, Helvetica, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
a {
color: black;
transition: all 0.2s linear;
}

a:hover  {
color: #ffafdf;
text-decoration: none;
font-size: 24px;
}

p {
    font-family: Avenir;
    text-transform: uppercase;
    letter-spacing: 4px;
}
