body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: rgb(255, 232, 242);
  margin: 30px auto;
  position: relative;
}
.table {
  background: rgb(214, 214, 214);
  position: absolute;
  width: 500px;
  height: 17px;
  bottom: 130px;
  left: 250px;
}

.table:before {
  content: '';
  background: #afafaf;
  width: 100%;
  position: absolute;
  height: 130px;
  top: 17px;
}
.vase {
  position: absolute;
  width: 150px;
  height: 210px;
  background: white;
  bottom: 147px;
  left: 430px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.vase-top {
  position: absolute;
  width: 70px;
  background: white;
  height: 70px;
  top: -50px;
  left: 36px;
  border-radius: 10px;
}

.book-bottom {
  width: 270px;
  height: 22px;
  background: #fffbeb;
  position: absolute;
  left: 450px;
  bottom: 147px;
  z-index: 10;
}
.book-bottom-cover {
  width: 270px;
  height: 5px;
  background: #95dfff;
  position: absolute;
  left: 450px;
  bottom: 169px;
  z-index: 10;
}
.book-middle {
  width: 205px;
  height: 53px;
  background: #f7f7f7;
  position: absolute;
  left: 480px;
  bottom: 173px;
  z-index: 10;
}
.book-middle-cover {
  width: 206px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 478px;
  bottom: 225px;
  z-index: 10;
  -webkit-transform:
    translateY(-4px)
    translateX(2px)
    rotate(2deg);
}
.book-top {
  width: 133px;
  height: 33px;
  background: #fff3ac;
  position: absolute;
  left: 549px;
  bottom: 231px;
  z-index: 10;
}
